body{
    background: #007B5E;
}
.toparea{
    background: #007B5E;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
.toparea a{
    margin: 0;
    padding-left: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.container-fluid{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    background: #fff;

}
.container-fluid img{
    max-width: 100%;
    height:auto;
}
.menuarea{
    
    margin: auto;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuarea ul li{
    list-style: none;
    margin-left: 25px;
    display: inline-block;
    position: relative;
}
.menuarea ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
} 
.menuarea ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0456a7;
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: 1.0s;
}
.menuarea ul li:hover::after{
    width: 78%;
}
.slidearea{
    margin-top: 2px;
    background: #fff;
}
.principal-message{
    background: #fff;
    text-align: center;
    padding-top: 70px;
}
.principal-message h1{
    text-align: left; !important
    color: #007B5E;
    padding: 5px 0 5px 8px;
    /* border-bottom: 5px solid #007B5E; */
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.principal-message h1::after{
content: '';
height: 3px;
width: 0;
background: #47dab7;
position: absolute;
left: 20px;
bottom: 4px;
transition: 1.0s;
}
.principal-message h1:hover::after{
width: 25%;
}
.principal-message .row .col-5 {
    margin-left: -100px;
}
.principal-message p{
    text-align: justify;  
}
.principal-message p:last-child{
    text-align: right;  
}
.principal-message .card{
    margin-top: -100px;
} 
#p1{
    text-align: center;
}
/* Our team */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

pb-5 {
    padding: 60px 0;
}

pb-5 .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
/* footer css */
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    /* padding-top: 40px; */
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
